<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>block chain</title>
	<!--
    Template 2105 Input
	http://www.tooplate.com/view/2105-input
	-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/tooplate.css')}}" />
     <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
 <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" />
 <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" />
</head>

<body id="register">
    <div class="container">
          <center>	<div class="col-md-8">

		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
				<b><h6><div class="alert alert-{{ category }}">
						{{ message }}{{msg}}
					</div></h6></b>
				{% endfor %}
			{% endif %}
		{% endwith %}

		{% block content %} {% endblock %}
	</div></center>
        <div class="row tm-register-row">

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 tm-register-col-l">
                <form action="{{url_for('reportback')}}" method="post">
              <div class="col-md-8">
                  <br><br><br><br><br>


                  <center>
		{% if msg!=null:

%}
 <center style="width: 905px;!important"><textarea cols="50" rows="50"  readonly>{{ msg }}</textarea>

                                     <input type="hidden" id="source" value="{{ msg }}">     <br>

     <button type="button" id="save" title="Save as text file">Download</button>
 </center>
    <!--<script type="text/javascript">
        document.getElementById("save").onclick = function() {
            var content = document.getElementById('source').value;
            window.open("data:application/txt," + encodeURIComponent(content), "_self");
        }
         textarea {
  position: absolute;
  left: 100px;
  top: 150px;
}
    </script>-->
{% endif%}

                    <script type="text/javascript">
        // when document is ready
        document.getElementById("save").onclick = function() {
            // when clicked the button
            var content = document.getElementById('source').value;
            // a [save as] dialog will be shown
            window.open("data:application/txt," + encodeURIComponent(content), "_self");
        }
    </script>


</center><br>
                      <center style="width: 205px; height:0px; !important"> <a href="{{url_for('upload')}}" class="waves-effect btn-large btn-large-white px-4 black-text rounded-0">Prevous Page...</a>
                 </center>

            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 tm-register-col-r">
                <header class="mb-5">


                </header>

            </div>
        </div>


    <script src="{{url_for('static', filename='js/jquery-3.2.1.slim.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/materialize.min.js')}}" />
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
</body>

</html>